.container{
  /* display: flex; */
  margin: 10px 0;
}
.contents{
  display: flex;
  justify-content: space-between;
}

.nameWrapper{
  padding-right: 30px;
  width: 30%;
}
.dateContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 33%;
}
.edit{
  background-color: brown;
}

.close{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.buttonDiv{
  display: flex;
  position: relative;
}




/* .bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 5px 30px;
} */

/* .cubeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--cubeContainerWidth);
}

.name{
  line-height: var(--inputLineHeight);
  padding: var(--inputPadding);
  width: var(--inputWidth);
  box-sizing: var(--inputBoxSizing);
} */
