.container{
  /* display: flex; */
  margin: 10px 0;
  border: 1px solid var(--gray3);
  border-radius: 8px;
  padding: 15px 15px;
}
.container:hover{
background-color: var(--gray3);
}
.contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form{
  display: flex;
}

.nameWrapper{
  padding-right: 30px;
  width: 30%;
}
.dateContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 27%;
}
.edit{
  background-color: brown;
}

.close{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* margin-bottom: 5px; */
}

.buttonDiv{
  display: flex;
}

.deleteConfDiv{
  position: relative;

}

.deleteConfInnerDiv{
  position: absolute;
  top: 10px;
  left: -60px;
}

.actionButton{
  width: 80px;
}
