.container{
  /* display: flex; */
  margin: 10px 0;
}
.contents{
  display: flex;
  justify-content: space-between;
}

.nameWrapper{
  padding-right: 30px;
  width: 30%;
}
.dateContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 33%;
}
.edit{
  background-color: brown;
}

.close{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.buttonDiv{
  display: flex;
  position: relative;
}
