.container{
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 20px;
  background-color: var(--gray3);
}

.openContainer{
  padding: 10px 20px;
  bottom: 60px;
  right: 40px;
}

.linkContainer{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between; 
}
.header{
  color: white;
}
