@import '../../vars.css';

.bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.name{
  width: 150px;
  font-size: 1.2rem;
  line-height: 1.3rem;
  overflow-x: hidden;
  overflow-y: hidden;
  /* overflow-y: auto; */
}

.cubeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--cubeContainerWidth);
  padding: 0;
  /* MVP AWARD vVv */
  line-height: 0;
}

.target{
  width: 60px;
  display: flex;
  justify-content: flex-end;
}
