@import '../../vars.css';

.container{
  /* border: 1px solid black; */
}

.bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.name{
  width: 150px;
  line-height: 1.3rem;
  overflow: scroll;
}

.cubeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--cubeContainerWidth);
}

.target{
  width: 60px;
  display: flex;
  justify-content: flex-end;
}
