.textInput{
  border: var(--inputBorder);
  box-shadow: var(--inputBoxShadow);
  line-height: var(--inputLineHeight);
  padding: var(--inputPadding);
  width: var(--inputWidth);
  box-sizing: var(--inputBoxSizing);
  /* margin-top: 1.3rem; */
  background-color: var(--gray3);
  color: var(--textPrimary);
}

.textAreaInput{
  border: var(--inputBorder);
  color: var(--textPrimary);
  width: var(--inputWidth);
  box-sizing: var(--inputBoxSizing);
  background-color: var(--gray3);
  /* margin-top: 1.3rem; */
}
