.textInput{
  border: var(--inputBorder);
  box-shadow: var(--inputBoxShadow);
  line-height: var(--inputLineHeight);
  padding: var(--inputPadding);
  width: var(--inputWidth);
  box-sizing: var(--inputBoxSizing);
  /* margin-top: 1.3rem; */
  background-color: var(--gray3);
  color: var(--textPrimary);
  font-size: 1rem;
  border-radius: var(--buttonBorderRadius2);

}

.textAreaInput{
  font-size: 1rem;
  padding: var(--inputPadding);
  border: var(--inputBorder);
  color: var(--textPrimary);
  width: var(--inputWidth);
  box-sizing: var(--inputBoxSizing);
  background-color: var(--gray3);
  border-radius: var(--buttonBorderRadius2);

  /* margin-top: 1.3rem; */
}

.textInput::placeholder {
  color: var(--textSecondary);
}
.textAreaInput::placeholder {
  color: var(--textSecondary);
}
.textInput:focus{
  outline: none;
}
.textAreaInput:focus{
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
