.button{
  background: none;
  background-color: var(--green2);
  border: none;
  border-radius: var(--buttonBorderRadius2);
  padding: .8rem 1.5rem .8rem 1.5rem;
  cursor: pointer;
}
.button:hover{
  background-color: var(--green3);
}
