@import '../../vars.css';

.habitCube{
  width: var(--dashCubeDimension);
  height: var(--dashCubeDimension);
  background-color: cornflowerblue;
  margin: 5px;
}
.habitCubeInactive{
  width: var(--dashCubeDimension);
  height: var(--dashCubeDimension);
  background-color: gray;
  margin: 5px;
}
