.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  margin-top: 150px;
  padding: 60px;
  background-color: var(--gray2);
  width: var(--formWidth);
}

.buttonDiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.linkContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.lastLine{
  margin-top: 6px;
}
