@import './vars.css';

:root{
  font-family:Arial, Helvetica, sans-serif;
  background-color: var(--backgroundPrimary);
  color: var(--textPrimary);
}

/* remove the underline from NavLinks */
.active{
  text-decoration: none;
}
