@import './vars.css';

:root{
  background-color: var(--backgroundPrimary);
  color: var(--textPrimary);
}

/* remove the underline from NavLinks */
.active{
  text-decoration: none;
}

.globalPageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
