.flex-col{
  display: flex;
  flex-direction: row;
}

.flex-row{
  display: flex;
  flex-direction: column;
}


/* .flex-col-ctr{
  display: flex;
  flex-direction: row;

}

.flex-row-ctr{
  display: flex;
  flex-direction: column;
} */
