:root{
  /* -------------COLORS------------- */
  /* --backgroundPrimary: #232323; */
  --backgroundPrimary: rgb(42	43 42);
  --backgroundSecondary: #191919;
  --backgroundTertiary: #222222;
  --textPrimary: #aaaaaa;
  --textSecondary: #555555;
  --logoPrimary: white;
  --gray1: #111111;
  --gray2: #222222;
  --gray23: #2D2D2D;
  --gray25: #2F2F2F;
  --gray3: #333333;
  --gray4: #444444;
  --gray5: #555555;
  --red1: #743e3e;
  --red2: #793636;
  --green1: #396e42;
  --green2: #408f4d;
  --green3: #3fa14f;


  /* -------------MENUS------------- */
  --borderRadiusMenu: 10px;

  /* -------------CONTAINERS------------- */
  --containerBoxShadow: 0px 1px 2px 2px rgba(0,0,0,0.2);
  --containerWidth: 60%;
  --containerWidth1200: 80%;


  /* -------------CUBE CONTAINER------------- */
  --cubeContainerWidth: 75%;
  --cubeContainerWidthAndABit: 76%;


  /* -------------CUBES------------- */
  --dashCubeDimension: 20px;
  --dashCubeDimensionInactive: 14px;
  --dashCubeBorder: 3px;
  --dashCubeBorderRadius: 3px;

  /* -------------FORMS------------- */
  --formWidth: 25%;
  --formMinWidth: 400px;
  --formBorderRadius: 4px;

  /* -------------INPUTS------------- */
  --inputWidth: 100%;
  --inputLineHeight: 2rem;
  --inputBoxSizing: border-box;
  --inputPadding: .4rem .4rem;
  --inputBoxShadow: none;
  --inputBorder: none;
  --inputTopMargin: 20px;


  /* -------------HEADERS------------- */
  --headerFontSize: 1.3rem;

  /* -------------BUTTONS------------- */
  --closeHeight: 24px;
  --buttonBorderRadius: 8px;
  /* set this to 2. if we hate it, set it to 0 */
  --buttonBorderRadius2: 2px;
}
