.div{
  position: absolute;
  top: -60px;
  left: 90px;
  min-width: 135px;
  font-size: 13px;
  padding: 10px;
  background-color: var(--gray3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--borderRadiusMenu);
}

.top{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  /* margin-bottom: 5px; */
}
