.cubeWrapper{
  width: var(--dashCubeDimension);
  height: var(--dashCubeDimension);
}

.achieveCubeChecked{
  border: none;
  background-color: gold;
  color: none;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.achieveCube{
  border: none;
  background-color: #CCC;
  color: none;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
