@import '../../vars.css';

.navbarWrapper{
  position: relative;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  height: 32px;
  padding-top: 12px;

}

.logo{
  text-decoration: none;
  color: var(--logoPrimary);
  font-size: 2rem;
}

.reflect{
  text-decoration: none;
  color: white;
}

.active{
  color: red;
}
