@import '../../../vars.css';

.dropdown{
  z-index: -1;
  position: absolute;
  top: 40px;
  right: 0px;
  width: 200px;
  background-color: var(--gray2);
  box-shadow: var(--containerBoxShadow);
  color: rgb(40, 40, 40);
  border-radius: 0 0 var(--borderRadiusMenu) var(--borderRadiusMenu);
  padding: 3px;
}

.navLink{
  text-decoration: none;
  color: var(--textPrimary);
  font-size: 1rem;
}
.active{
  color: red;
}
.linkDiv{
  padding: 20px;
}
.linkDiv:hover{
  background-color: var(--gray1);
}
