@import '../../../vars.css';

.dropdown{
  z-index: -10;
  position: absolute;
  top: 40px;
  right: 0px;
  width: 200px;
  height: 200px;
  background-color: var(--backgroundTertiary);
  border: 1px solid rgb(155, 158, 158);
  padding: 10px;
  color: rgb(40, 40, 40);
}
