.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* height: 50px; */
  margin-top: 50px;
}

.header{
  margin-bottom: 10px;
  min-height: 2rem;
  width: 110%;
}

.swatch{
  width: 81px;
  height: 50px;
  /* margin-top: 50px; */
  /* margin-left: 50px; */
}


.colorContainer{
  position: relative;
  width: 100%;
  height: 20px;
}

.right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
