@import '../../vars.css';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.makeMeRight{
  padding-right: 70%;
}

.dashCardContainer{
  width: var(--containerWidth);
  /* box-shadow: var(--containerBoxShadow); */
  /* background-color: var(--backgroundSecondary); */

}

.menu{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menuButton{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 10px;
  /* position: relative; */
}

.divider{
  margin-top: 6px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--textPrimary);
  width: 58%;
}

.cubeContainerHeadersWrapper{
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 5px 30px;
}

.cubeContainerHeadersCopyCubeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--cubeContainerWidth);
}

.cubeContainerHeader{
  width: 40px;
  height: 13px;
  text-align: center;
}

.name{
  width: 150px;
}

.target{
  width: 60px;
}
