@import '../../vars.css';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.makeMeRight{
  padding-right: 70%;
}

.dashCardContainer{
  width: var(--containerWidth);
  /* box-shadow: var(--containerBoxShadow); */
  /* background-color: var(--backgroundSecondary); */

}

.divider{
  margin-top: 6px;
  margin-bottom: 16px;
  border-bottom: 2px solid var(--gray4);
  width: 58%;
}

.cubeContainerHeadersWrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px 30px 5px 30px;
}

.cubeContainerHeadersCopyCubeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--cubeContainerWidth);
}

.cubeContainerHeader{
  /* width: 40px; */
  width: 45px;
  height: 13px;
  text-align: center;
}

.name{
  width: 150px;
}

.target{
  width: 60px;
}
