.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.makeMeRight{
  padding-left: 1200px;
}

.dashCardContainer{
  width: 60%;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
