.bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 5px 30px;
}

.cubeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--cubeContainerWidth);
}

.nameWrapper{
  padding-right: 30px;
  width: 30%;
}
.name{
  line-height: var(--inputLineHeight);
  padding: var(--inputPadding);
  width: var(--inputWidth);
  box-sizing: var(--inputBoxSizing);
  /* margin-top: 1.3rem; */
}
.buttonDiv{
  display: flex;
  justify-content: flex-end;
  background-color: var(--backgroundTertiary);
  padding: 0 20px 20px 0;
  position: relative;
}
