.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30%;
}
.welcome{
  padding: 100px 0px;
  font-size: var(--headerFontSize);
}

.makeMeRight{
  padding-left: 70%;
}

.habitContainer{
  width: 60%;
}
