.container{
  background-color: var(--backgroundTertiary);
  border-radius: var(--formBorderRadius) var(--formBorderRadius) 0 0;
  padding: 30px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header{
  margin-bottom: 10px;
}

.left{
  width: 20%;
}

.center{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.right{
  display: flex;
  flex-direction: column;
  width: 20%;
}

.target{
  width: 40%;
}
