.container{
  background-color: var(--backgroundTertiary);
  padding: 6px 30px 30px 30px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.close{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
